{{ define "footer" }}
<footer class="mdl-mini-footer" style="bottom: 0;position: fixed; width: 100%;padding-top: 20px;padding-bottom: 20px;z-index: -1;">
    <div class="mdl-mini-footer__right-section" style="padding-right: 16px;">
      <ul class="mdl-mini-footer__link-list">
        <li class="mdl-mini-footer--social-btn">
            <a href="https://github.com/ConnorJarvis/share" class="social-btn social-btn__github" role="button" title="GitHub"></a>
          </li>
      </ul>
    </div>
  </footer>
{{ end }}

