<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{.Title}}</title>


    <link rel="shortcut icon" href="/images/favicon.png">
    <script type="text/javascript" src="/static/base64js.min.js"></script>
    <script type="text/javascript" src="/static/client.js"></script>
    <link rel="stylesheet" href="/static/material.min.css">
    <link rel="stylesheet" href="/static/client.css">

</head>

<body>
    <div class="mdl-grid" style="font-family: Roboto;">

        <div class="mdl-cell mdl-cell--2-col mdl-cell--4-offset-desktop mdl-cell--8-col-phone mdl-cell--8-col-tablet">
            <div style="position: absolute;margin-left:10px;">
                <h6 style="margin-bottom:0px;margin-top:0px;" id="file-name">Filename</h6>
                <span><span id="amount-transferred">0 MB </span>/ <span id="file-size">0 MB</span></span>
                <div style="margin-top:10px;">
                    <form style="display: initial;" onsubmit="onUploadFile(event)">
                        <button id="mybutton" type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            <input class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="file"
                                id="myfile" name="uploadfile" onchange="updateUploadInfo(event)" />
                            Select File
                        </button>
                        <button type="submit" id="upload"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Upload
                        </button>
                    </form>
                    {{ .csrfField }}
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--12-col-phone mdl-cell--12-col-tablet">
            <span style="margin-top:135px; position:absolute;"><span id="network-speed"></span></span>
            <div id="network-progress" class="mdl-progress mdl-js-progress" style="margin-top:120px;"></div>
            <div class="mdl-textfield" id="upload-url" style="margin-top: 15px;"></div>
        </div>
        <input type="hidden" id="cdn-domain" name="cdn-domain" value="{{ .cdnDomain }}">

        <div id="toast" class="mdl-js-snackbar mdl-snackbar" style="z-index:2">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
          </div>
    </div>
    <script defer src="/static/material.min.js"></script>
    {{ template "footer" }}
</body>

</html>